@using Microsoft.AspNetCore.Identity
@using StarEvents.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        // Get the full user object to access custom properties like FirstName
        var user = await UserManager.GetUserAsync(User);
        var userName = user?.FirstName ?? user?.UserName; // Use FirstName if available, otherwise fall back to username

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user-circle"></i> @userName
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="background-color: #1f1f1f;">
                <li><a class="dropdown-item" asp-controller="Customer" asp-action="Profile" style="color: #faf5ef;">My Profile</a></li>

                @if (User.IsInRole("Admin"))
                {
                    <li><a class="dropdown-item" asp-action="Dashboard" asp-controller="Admin" style="color: #faf5ef;">Admin Dashboard</a></li>
                }
                else if (User.IsInRole("Customer"))
                {
                    <li><a class="dropdown-item" asp-action="Dashboard" asp-controller="Customer" style="color: #faf5ef;">My Dashboard</a></li>
                }
                else if (User.IsInRole("Organizer"))
                {
                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Organizers" style="color: #faf5ef;">Organizer Dashboard</a></li>
                }

                <li><hr class="dropdown-divider" style="border-color: #444;"></li>
                <li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="dropdown-item" style="color: #faf5ef;">Logout</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>